html{
  scroll-behaviour:smooth;
}


*{
  box-sizing:border-box;
  
}
body{
  display:flex;
  font-family:arial,san-serif;
}
main{
  margin-left:245px;
  padding:20px;

}
#navbar{
  padding-top:20px;
  width:250px;
  height:100vh;
  position:fixed;
  background-color:#333;

 
}
h5{
  padding-bottom:20px
}

#navbar ul{
  list-style-type:none;

}
#navbar ul a{
  text-decoration:none;
  display:block;
  color:white;
}
#navbar ul li{
  margin:10px 0
}
#navbar ul li:hover{
  background-color:#555;
}
a{
  margin-top:50px;

}
#navbar h1{
  color:grey;
  text-align:center;
}

div{
  background-color:#f0f0f0;
  border-radius:10px;
  padding:20px;
  width:60%
  
}
@media (max-width: 768px) {
  #navbar {
    width: 100%; 
    height: auto;
    position: relative; 
  }
  